# A more refined inequality for approximating $n!$ is given by

# $\sqrt{2\pi n} \cdot (\frac{n}{e})^{n} \cdot e^{\frac{1}{12n+1}} < n! < \sqrt{2\pi n} \cdot (\frac{n}{e})^{n} \cdot e^{\frac{1}{12n}}$

# Write a computer program to illustrate this inequality for $n=1$ to $n=9$

In [23]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = 10, 10
import pandas as pd

In [30]:
def f1(n):
    v1 = np.sqrt(2*np.pi*n)
    v2 = (n/np.exp(1))**n
    v3 = np.exp((12*n+1)**(-1))
    return(v1*v2*v3)

In [31]:
def f2(n):
    v1 = np.sqrt(2*np.pi*n)
    v2 = (n/np.exp(1))**n
    v3 = np.exp((12*n)**(-1))
    return(v1*v2*v3)

In [32]:
def factorial(n):
    if (n==1)|(n==0):
        return 1
    else:
        return(n*factorial(n-1))

In [33]:
df = pd.DataFrame(index = range(1,9))
df['lower'] = df.index.map(f1)
df['factorial'] = df.index.map(factorial)
df['upper'] = df.index.map(f2)

In [34]:
df

          lower  factorial         upper
1      0.995870          1      1.002274
2      1.997320          2      2.000652
3      5.996096          6      6.000599
4     23.990822         24     24.001024
5    119.969854        120    120.002637
6    719.872212        720    720.009187
7   5039.334743       5040   5040.040582
8  40315.888097      40320  40320.217785

# Seems pretty accurate