It is used to determine whether there is statistically significant difference between the means of three or more independent groups.

In [20]:
import statsmodels.stats.weightstats as statsW
import statsmodels.stats.multicomp as statsM
from scipy import stats
import numpy as np
import pandas as pd

H_0: µ1 = µ2 = … = µk  (the means are equal for each group)
H_a: at least one of the means is different from the others

p_val < 0.05:
    reject H_0

In [26]:
# races = ['asians', 'black', 'hispanic', 'other', 'white']

# voter_race = np.random.choice(a = races,
#                              p = [0.05, 0.15, 0.25, 0.05, 0.5],
#                              size = 1000)

# voter_age = stats.poisson.rvs(loc=18, mu=30, size = 1000)

# voter = pd.DataFrame({"race": voter_race, "age": voter_age})
# voter.to_csv("data/Voter_SameDist.csv", index=False)

In [27]:
fl_path = "data/Voter_SameDist.csv"
voter = pd.read_csv(fl_path)
voter.head(5)

       race  age
0     white   58
1  hispanic   46
2     white   47
3     white   34
4     white   47

In [28]:
voter.info()
voter.describe()

               age
count  1000.000000
mean     47.824000
std       5.552644
min      32.000000
25%      44.000000
50%      48.000000
75%      51.000000
max      67.000000

In [38]:
voter_age = voter['age'].values
voter_gp = voter.groupby("race").groups

# Extract individual gp
asians = voter_age[voter_gp["asians"]]
black = voter_age[voter_gp["black"]]
hispanic = voter_age[voter_gp["hispanic"]]
white = voter_age[voter_gp["white"]]
other = voter_age[voter_gp["other"]]

print("asians age:- ",asians)
print("black age:- ",black)
print("hispanic age:- ",hispanic)
print("white age:- ",white)
print("other age:- ",other)

asians age:-  [55 48 47 39 46 34 51 44 38 42 52 48 52 46 44 43 42 37 57 36 54 55 48 39
 48 41 50 38 51 46 47 48 51 53 43 44 44 55 47 47 42 38 51 55 44 51 46 44
 44 48 52 40 35 46 48 57 41 35 49 47 48 52 52 46 76 57 36 40 38 45 46 51]
black age:-  [42 52 57 51 50 47 35 46 45 46 47 44 62 44 46 43 53 45 51 39 51 38 37 40
 43 49 61 59 51 45 40 56 51 44 43 45 41 63 55 43 51 44 42 48 54 43 42 45
 49 48 50 51 51 46 46 55 47 50 48 48 63 60 50 56 49 49 51 51 50 46 44 55
 40 49 47 42 47 49 50 53 39 52 45 48 45 47 48 51 53 56 44 53 40 53 50 46
 39 44 49 51 56 54 44 40 45 47 45 50 45 45 50 43 53 41 51 47 41 41 49 51
 52 55 53 51 48 41 52 56 48 58 41 45 45 39 53 47 47 43 47 38]
hispanic age:-  [33 47 48 50 44 52 44 57 43 44 49 52 49 47 52 49 45 51 63 47 49 47 47 43
 40 36 44 63 51 45 42 49 52 50 56 46 56 52 52 46 52 44 51 38 49 40 57 51
 52 38 50 52 46 51 49 51 56 46 42 54 55 46 57 43 50 59 45 60 49 55 45 48
 53 41 61 48 39 45 48 46 55 44 49 51 42 57 39 38 43 57 45 44 44 44 47 48
 56 50 50 51 49 41 51 45 57 42 44 53 47 44 59 51 43 48 48 56 43 45 53 62
 57 45 40 46 46 48 49 49 57 53 43 45 39 50 45 46 55 49 55 46 57 47 45 41
 49 54 53 48 49 43 48 52 43 44 44 47 48 44 58 50 47 47 40 42 46 43 48 54
 41 38 49 42 39 41 48 51 55 51 53 52 45 44 45 53 50 41 45 42 43 54 46 50
 37 51 52 43 59 44 41 46 53 48 52 45 47 44 40 52 46 56 40 58 43 54 39 43
 50 48 51 46 48 50 52 53 50 52 51 56 56 47 43 57 59]
white age:-  [60 60 43 53 41 51 48 45 51 45 67 54 47 51 48 51 50 48 47 54 59 48 46 57
 56 45 58 46 59 57 51 47 50 39 42 40 41 48 56 51 43 36 48 35 44 53 49 46
 38 42 51 42 57 49 42 54 58 48 49 60 43 51 49 44 49 56 48 53 42 50 47 45
 55 47 47 52 42 42 46 48 39 44 47 49 45 55 44 41 51 50 45 51 53 41 41 43
 44 41 56 44 48 46 61 45 45 46 44 46 47 43 38 45 41 51 48 44 49 51 51 50
 52 56 46 58 55 47 42 49 56 40 59 46 38 58 45 50 57 43 48 34 47 60 43 50
 46 49 54 55 46 44 42 39 47 46 43 51 49 55 43 42 39 49 49 54 47 41 47 46
 51 47 47 44 54 44 47 55 50 42 45 54 50 47 57 64 43 41 40 45 50 49 45 52
 45 47 52 54 49 43 54 44 48 47 47 45 50 38 55 53 44 41 56 61 52 48 48 39
 49 48 47 61 46 49 42 49 55 51 48 42 52 50 41 55 54 46 41 42 52 46 60 38
 53 48 47 58 50 46 46 44 52 59 46 48 49 49 50 55 50 50 48 44 59 42 43 46
 54 41 42 56 41 41 49 51 45 47 45 44 42 49 52 56 48 46 48 47 36 57 61 38
 41 51 50 50 34 48 51 45 50 60 46 43 49 44 47 45 51 63 51 41 36 44 55 47
 57 40 53 44 43 44 44 54 42 51 55 54 43 37 48 39 46 44 46 41 52 43 48 52
 45 38 53 56 52 41 59 57 48 44 43 45 47 46 44 48 48 50 46 53 42 44 53 42
 56 42 59 50 43 42 46 41 55 58 49 54 54 53 48 52 44 48 48 43 50 42 49 54
 41 49 55 51 53 56 54 61 43 43 47 53 36 59 43 45 52 42 50 53 48 52 49 59
 54 46 48 49 44 55 41 38 42 46 49 52 44 51 44 35 50 46 50 39 56 50 48 58
 56 39 44 42 46 48 50 52 45 38 48 51 55 48 34 48 51 58 48 43 41 50 47 49
 42 47 49 47 50 53 51 56 46 41 47 51 49 33 50 47 55 45 52 51 57 50 53 50
 67 50 50 46 49 48 45 44 49 58 42 36 50 44 44 40 52 46 48 45 40 51 41 41]
other age:-  [38 56 43 52 41 48 53 40 44 37 53 50 43 54 52 57 46 55 51 45 43 52 53 52
 40 51 51 43 39 47 47 58 54 55 46 49 46 54 48 46 55 52 43 51 48 49 50 44
 48 47 44]

In [40]:
f_stat, p_val = stats.f_oneway(asians, black, hispanic, white, other)
print(f_stat, p_val)

1.3357214172632341 0.2547162546576599

p_val < 0.05:
    no, failed to reject H_0
there is no significant difference between the means of each group,
means of all the groups are same

### let's change the data little bit,
and make sure one group (white) the mean is different

In [41]:
# races = ['asians', 'black', 'hispanic', 'other', 'white']

# voter_race = np.random.choice(a = races,
#                              p = [0.05, 0.15, 0.25, 0.05, 0.5],
#                              size = 1000)

# white_age = stats.poisson.rvs(loc=18, mu=32, size = 1000)
# voter_age = stats.poisson.rvs(loc=18, mu=30, size = 1000)

# voter_age = np.where(voter_race=="white", white_age, voter_age)

# voter = pd.DataFrame({"race": voter_race, "age": voter_age})
# voter.to_csv("data/Voter_DiffDist.csv", index=False)

In [42]:
fl_path = "data/Voter_DiffDist.csv"
voter = pd.read_csv(fl_path)
voter.head(5)

       race  age
0     black   44
1     white   50
2  hispanic   56
3     white   52
4  hispanic   41

In [44]:
voter.info()
voter.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   race    1000 non-null   object
 1   age     1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

               age
count  1000.000000
mean     49.311000
std       5.601934
min      35.000000
25%      45.000000
50%      49.000000
75%      53.000000
max      67.000000

In [45]:
voter_age = voter['age'].values
voter_gp = voter.groupby("race").groups

# Extract individual gp
asians = voter_age[voter_gp["asians"]]
black = voter_age[voter_gp["black"]]
hispanic = voter_age[voter_gp["hispanic"]]
white = voter_age[voter_gp["white"]]
other = voter_age[voter_gp["other"]]

print("asians age:- ",asians)
print("black age:- ",black)
print("hispanic age:- ",hispanic)
print("white age:- ",white)
print("other age:- ",other)

asians age:-  [39 53 54 45 49 50 44 49 44 47 38 48 59 51 51 41 53 54 45 54 47 59 46 50
 46 52 47 42 57 50 50 44 48 51 55 55 42 43 47 53 44 49 46 43 42 39 45 42
 47 45 43 49 50 44 52]
black age:-  [44 43 47 50 57 55 47 61 46 43 51 59 57 43 52 38 48 44 51 42 57 57 54 44
 59 56 51 52 54 47 52 49 55 50 44 45 53 46 38 45 41 52 48 38 41 48 47 44
 52 39 52 46 54 48 46 39 63 52 50 40 52 48 50 49 55 40 42 48 52 42 50 43
 46 51 46 55 51 46 55 49 47 49 42 58 53 47 51 46 59 49 49 55 45 47 44 40
 60 51 52 47 37 47 51 44 53 41 36 41 52 48 45 42 47 43 49 52 41 54 51 54
 45 49 43 56 59 41 43 50 49 46 41 48 51 46 44 39 53 44 48 47]
hispanic age:-  [56 41 48 48 50 44 45 52 58 48 47 46 45 55 38 47 55 49 52 46 43 44 47 49
 53 46 50 50 45 51 56 56 53 50 49 55 55 52 47 43 47 54 42 45 46 52 46 52
 58 46 50 48 60 46 56 40 48 57 44 49 55 41 50 46 45 61 46 43 47 48 52 49
 44 39 42 45 52 44 40 48 44 48 47 47 49 41 48 51 47 47 41 59 42 51 49 36
 51 51 54 48 50 52 38 47 43 49 40 55 51 43 50 57 45 46 54 46 50 53 48 50
 53 44 48 38 39 49 44 54 52 54 43 61 47 48 51 56 50 41 56 47 56 53 50 53
 44 44 43 43 39 50 44 39 47 44 51 45 45 50 48 54 51 53 50 40 46 57 41 50
 42 45 35 55 44 54 53 47 42 45 58 45 51 51 45 53 40 45 62 48 45 49 48 50
 50 45 48 40 51 48 56 48 48 53 47 46 47 61 44 45 57 45 53 50 39 49 50 49
 45 54 48 44 46 48 44 42 55 43 61 56 50 47 46 52 53 47 49 36 48 55 58 47
 54 52 55 47 46 56 46 47 52 50 53 48 53 52 50 47 45 42 56 45 45]
white age:-  [50 52 45 41 50 52 47 48 44 61 52 37 56 49 54 46 50 44 46 56 58 62 47 51
 48 37 57 48 46 50 45 50 52 56 50 47 55 48 53 47 50 51 43 39 49 54 52 43
 49 43 45 47 53 45 45 47 54 57 55 49 47 49 50 52 50 55 54 43 46 48 45 57
 56 48 57 57 47 60 49 63 58 54 53 46 41 50 47 48 60 61 52 44 44 57 47 55
 49 55 44 44 58 50 50 55 47 58 53 44 54 47 46 47 53 55 60 56 63 61 47 42
 45 57 60 38 62 47 51 51 54 47 41 52 55 45 53 50 50 49 46 57 43 52 52 49
 50 44 54 50 47 41 44 56 51 52 48 46 58 67 48 44 48 50 52 51 48 52 56 50
 56 46 55 46 54 54 48 56 42 52 61 61 52 48 52 49 51 57 49 51 51 39 55 49
 41 53 54 47 45 43 51 44 50 43 55 49 45 54 51 45 51 45 49 39 58 58 43 53
 51 48 42 47 55 55 55 54 57 56 45 38 52 43 41 62 48 48 52 54 51 50 47 48
 53 41 62 44 41 60 49 48 54 42 42 57 44 45 49 46 49 56 50 54 57 56 57 56
 44 52 50 47 51 56 49 55 45 53 53 43 54 54 52 52 55 44 44 43 40 49 60 46
 41 48 54 51 51 53 49 46 54 45 48 42 42 54 59 53 45 53 58 50 40 53 54 53
 60 45 45 40 50 47 58 50 52 40 55 52 53 56 46 46 53 53 65 51 48 55 50 56
 51 60 54 45 61 45 56 46 49 48 60 55 45 51 54 57 53 54 51 53 43 53 58 36
 50 42 44 46 55 55 55 45 45 51 55 46 39 53 47 51 55 45 47 40 54 41 39 66
 43 58 51 55 54 43 53 56 62 58 55 48 51 65 46 40 58 51 48 55 48 50 47 46
 53 61 56 53 41 46 48 60 55 40 57 49 47 52 48 53 58 46 60 46 51 54 64 59
 42 55 57 49 50 41 55 49 51 57 49 43 53 55 52 44 51 53 44 46 59 59 49 47
 50 54 53 42 50 55 52 43 38 50 52 41 48 53 42 54 55 61 51 52 55 44 43 44
 51 59 50 50 54 57 45 51 43 43 62 62 54 45 51]
other age:-  [47 46 54 52 47 55 46 40 47 48 41 49 46 43 45 42 52 52 48 51 38 48 50 52
 43 46 53 53 50 56 52 42 45 44 43 43 45 49 47 55 42 49 36 48 48 48 53 40
 54]

In [46]:
f_stat, p_val = stats.f_oneway(asians, black, hispanic, white, other)
print(f_stat, p_val)

10.2266674137925 4.071911569616612e-08

p_val < 0.05:
    yes, reject H_0
    
there is significant difference between the means of each group.
So that means one(or more) group is different

## Now how we can know which gp is different?
We can do t-test between each gp pairs

In [47]:
races = ['asians', 'black', 'hispanic', 'other', 'white']
race_pairs = []
for race_1 in range(4):
    for race_2 in range(race_1+1, 5):
        race_pairs.append((races[race_1], races[race_2]))
        
for race_1, race_2 in race_pairs:
    print(race_1, race_2)
    stat, p_val = stats.ttest_ind(voter_age[voter_gp[race_1]], 
                                 voter_age[voter_gp[race_2]])
    print(f"stat:- {stat} p_val:- {p_val} significance:- {p_val<0.05}")

asians black
stat:- -0.4721252386019357 p_val:- 0.637370767826158 significance:- False
asians hispanic
stat:- -0.783016425831597 p_val:- 0.43420761839024424 significance:- False
asians other
stat:- 0.46529435380805645 p_val:- 0.6427125654312962 significance:- False
asians white
stat:- -3.1655883884609506 p_val:- 0.0016336936874503253 significance:- True
black hispanic
stat:- -0.33616190201924734 p_val:- 0.7369254921146103 significance:- False
black other
stat:- 0.9532207235460252 p_val:- 0.34170875768981224 significance:- False
black white
stat:- -3.9180402728812873 p_val:- 9.89883936801365e-05 significance:- True
hispanic other
stat:- 1.3121841897477988 p_val:- 0.19043506644280395 significance:- False
hispanic white
stat:- -4.605630488453824 p_val:- 4.826061087703691e-06 significance:- True
other white
stat:- -3.536375751020784 p_val:- 0.0004404017844100267 significance:- True

### If you check the above result, you can see "white" gp, the H_0 violates
### another way to check is "post hoc test - tukey's test"

In [48]:
tukey = statsM.pairwise_tukeyhsd(endog = voter_age, #Data
                                groups= voter_race, #Groups
                                alpha = 0.05 #Significance lvl
                                )
tukey.summary()

### Resources
1) https://www.statology.org/anova-post-hoc-tests/ <br>
2) https://www.statology.org/one-way-anova-python/ <br>