1) parametric ~ knows the distribution (normal/gaussian)
2) applicable for one samples
3) The mean and standard deviation of the population is not known

Tests whether the mean of a normally distributed population is different from a specified value.

Two Tailed test:
H_0: population mean is equal to some value
H_a: population mean is not equal (greater/less) to some value

Left Tailed test:
H_a: population mean is less than some value

Right Tailed test:
H_a: population mean is greater than some value

In [1]:
import statsmodels.stats.weightstats as statsM
from scipy import stats
import numpy as np
import pandas as pd

### Data
-- Suppose a botanist wants to know if the mean height of a certain species of plant 
is equal to 15 inches. 

-- Researcher collects a random sample of 12 plants and records each of their heights in inches.

In [2]:
data = [14, 14, 16, 13, 12, 17, 15, 14, 15, 13, 15, 14]

df = pd.DataFrame(data, columns = ['Height'])
display(df.head(5))

   Height
0      14
1      14
2      16
3      13
4      12

In [3]:
df.describe()

          Height
count  12.000000
mean   14.333333
std     1.370689
min    12.000000
25%    13.750000
50%    14.000000
75%    15.000000
max    17.000000

In [4]:
# shapiro test for normality
# H_0: normally distributed
# H_a: not normally distributed
stat, p_val = stats.shapiro(df['Height'])
if p_val<0.05:
    print(f'{p_val} ~ not normally distributed')
else:
    print(f'{p_val} ~ normally distributed')

0.7902550101280212 ~ normally distributed

### Business problem:
Is the mean height for this species of plant is actually equal to 15 inches?

Two-tailed test:
H_0: After drug, the μ = 15
H_a: After drug, the μ != 15

In [6]:
z_score, p_val = stats.ttest_1samp(df['Height'], popmean=15, alternative="two-sided")
print(p_val)

0.12014460742498101

p_val < 0.05 ~ no, so failed to reject H_0
so, μ != 15

In [ ]:
Now, we want to know the direction of the effect (height)
plant height > 15
So,
Right-tailed:
    H_a: μ > 15

In [7]:
z_score, p_val = stats.ttest_1samp(df['Height'], popmean=15, alternative="greater")
print(p_val)

0.9399276962875095

p_val < 0.05 ~ no, so failed to reject H_0
so μ <= 15

Now, let's take another angle to solve the problem ==>

Now, we want to know the direction of the effect (height)
plant height < 15
So,
Left-tailed:
    H_a: μ < 15

In [8]:
z_score, p_val = stats.ttest_1samp(df['Height'], popmean=15, alternative="less")
print(p_val)

0.060072303712490505

p_val < 0.05 ~ no, so failed to reject H_0
so μ < 15

### Resources
1) https://www.statology.org/one-sample-t-test-python/ <br>
2) https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html <br>