It is used to determine whether there is statistically significant difference between the means of three or more independent groups that have been split on two factors (variable).

### Data
-- A botanist wants to know whether or not plant growth is influenced by sunlight exposure and watering frequency.

H_0: µ1 = µ2 = … = µk  (the means are equal for each group)
H_a: at least one of the means is different from the others

p_val < 0.05:
    reject H_0

In [9]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy import stats
import numpy as np
import pandas as pd

In [6]:
fl_path = "data/BotanyPlant.csv"
df = pd.read_csv(fl_path)
df.head(5)

   water  sun  height
0  daily  low       6
1  daily  low       6
2  daily  low       6
3  daily  low       5
4  daily  low       6

In [7]:
df.describe()

          height
count  30.000000
mean    5.333333
std     1.295439
min     3.000000
25%     4.000000
50%     5.000000
75%     6.000000
max     8.000000

In [10]:
#perform two-way ANOVA
model = ols('height ~ C(water) + C(sun) + C(water):C(sun)', data=df).fit()
sm.stats.anova_lm(model, typ=2)

                    sum_sq    df        F    PR(>F)
C(water)          8.533333   1.0  16.0000  0.000527
C(sun)           24.866667   2.0  23.3125  0.000002
C(water):C(sun)   2.466667   2.0   2.3125  0.120667
Residual         12.800000  24.0      NaN       NaN

### Interpret the results.
1) p-values for water is less than .05, it has a statistically significant effect on plant height.
2) p-values for sun is less than .05, it has a statistically significant effect on plant height.
3) p-value for [interaction - water, sun] is not less than .05, there is no significant interaction effect between sunlight exposure and watering frequency