1) parametric ~ knows the distribution (normal/gaussian)
2) applicable for one samples
3) The mean and standard deviation of the population is known

In [1]:
import statsmodels.stats.weightstats as statsM
from scipy import stats
import numpy as np
import pandas as pd

### value in z-test
-- In the one sample case, value is the mean of x1 under the Null hypothesis. 
-- In the two sample case, value is the difference between mean of x1 and mean of x2 under the Null hypothesis.

### Data
-- Suppose the IQ levels among individuals in two different cities are known to be 
normally distributed with known standard deviations.

-- A researcher wants to know if the mean IQ level between individuals in city A and 
city B are different.

In [56]:
data = np.array([[78,90],[80,91],[85,91],[89, 91],[91,95],[91,95],[92,99],
                 [94,99],[99,108],[99,109],[105,109],[109,114],
                 [109,115],[109,116],[115,117],[112,117],
                [112,128],[111,129],[114,130],[117,137]])

df = pd.DataFrame(data, columns = ['City_A','City_B'])
display(df.head(5))

   City_A  City_B
0      78      90
1      80      91
2      85      91
3      89      91
4      91      95

In [57]:
df.describe()

           City_A      City_B
count   20.000000   20.000000
mean   100.550000  109.000000
std     12.300941   14.779075
min     78.000000   90.000000
25%     91.000000   95.000000
50%    102.000000  109.000000
75%    111.250000  117.000000
max    117.000000  137.000000

In [58]:
# shapiro test for normality
# H_0: normally distributed
# H_a: not normally distributed
stat, p_val = stats.shapiro(df['City_A'])
if p_val<0.05:
    print(f'{p_val} ~ not normally distributed')
else:
    print(f'{p_val} ~ normally distributed')
    
# shapiro test for normality
# H_0: normally distributed
# H_a: not normally distributed
stat, p_val = stats.shapiro(df['City_B'])
if p_val<0.05:
    print(f'{p_val} ~ not normally distributed')
else:
    print(f'{p_val} ~ normally distributed')

0.10119764506816864 ~ normally distributed
0.12861467897891998 ~ normally distributed

### Business problem:
Is there any difference on IQ lvl between two cities?

Two-tailed test:
H_0: City_A_μ = City_B_μ
H_a: City_A_μ != City_B_μ

In [59]:
z_score, p_val = statsM.ztest(df['City_A'], df['City_B'], value=0, alternative="two-sided")
print(p_val)

0.04938055452073037

p_val < 0.05 ~ yes, so reject H_0
so, City_A_μ != City_B_μ

Now, we want to know the direction of the effect/change (IQ)
City_A_μ > City_B_μ
So,
Right-tailed:
    diff = City_A_μ - City_B_μ ~ diff > 0
    so,
    H_a: City_A_μ > City_B_μ

In [60]:
z_score, p_val = statsM.ztest(df['City_A'], df['City_B'], value=0, alternative="larger")
print(p_val)

0.9753097227396348

p_val < 0.05 ~ no, so failed to reject H_0
City_A_μ <= City_B_μ

Now, let's take another angle to solve the problem ==>

Now, we want to know the direction of the effect/change (IQ)
City_A_μ < City_B_μ
So,
Right-tailed:
    diff = City_A_μ - City_B_μ ~ diff < 0
    so,
    H_a: City_A_μ < City_B_μ

In [61]:
z_score, p_val = statsM.ztest(df['City_A'], df['City_B'], value=0, alternative="smaller")
print(p_val)

0.024690277260365184

p_val < 0.05 ~ yes, so reject H_0
City_A_μ < City_B_μ

### Resources
1) https://www.statsmodels.org/stable/generated/statsmodels.stats.weightstats.ztest.html#statsmodels.stats.weightstats.ztest <br>