1) non-parametric ~ do not know the distribution (normal/gaussian)
2) un paired samples (can change the order of values)
3) applicable for two samples

In [11]:
from scipy import stats
import numpy as np
import pandas as pd

### Data
We collected heights of males and females.

In [12]:
data = np.array([[85,75],[70,50],[40,45],
                            [65,40],[80,20],[75,65],
                            [55,40],[20,25]])

df = pd.DataFrame(data, columns = ['Male','Female'])
display(df)

   Male  Female
0    85      75
1    70      50
2    40      45
3    65      40
4    80      20
5    75      65
6    55      40
7    20      25

mannwhitneyu(x, y, alternative={“two-sided”, “greater”, “less”})

F(u) = cumulative distribution functions of the distributions underlying x
G(u) = cumulative distribution functions of the distributions underlying y

"alternative" defines the alternative hypothesis.
"two-sided":
   the distributions are not equal, i.e. F(u) ≠ G(u) for at least one u. 
"less":
   distribution x < distribution y,  i.e. F(u) > G(u) for all u.
"greater":
   distribution x > distribution y,  i.e. F(u) < G(u) for all u.

In [13]:
df.describe()

            Male     Female
count   8.000000   8.000000
mean   61.250000  45.000000
std    21.998377  18.516402
min    20.000000  20.000000
25%    51.250000  36.250000
50%    67.500000  42.500000
75%    76.250000  53.750000
max    85.000000  75.000000

### Business problem:
Is there any significant difference in age of males and females?

Two-tailed test:
H_0: there is no difference between 'Male' and 'Female'
H_a: there is significance difference between 'Male' and 'Female'

In [19]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='two-sided', method='asymptotic')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=46.500, p=0.139

In [20]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='two-sided', method='exact')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=46.500, p=0.161

## It always reports the statistic associated with the first sample, which, in this case, is males.
stat_Male := 46.5
## below way we can get stat of second sample (stat_Female)

In [15]:
stat_Male = stat
nx, ny = len(df['Male']), len(df['Female'])
stat_Female = nx*ny - stat_Male
print('Statistics=%.3f' % (stat_Female))

Statistics=17.500

p_val < 0.05 ~ no, so failed to reject H_0
there is not significant difference between (Male - Female) distribution

Now, we want to know the direction of the samples distribution
Male(height) > Female(height)
So,
Right-tailed:
    diff = Male - Female
    so,
    H_a: diff(height_distribution) > 0

Right Tailed:
Male~x, Female~y: diff(height_distribution) = x-y
H_0: Male(height) <= Female(height)
H_a: Male(height) > Female(height)
If p < 0.05 reject H_0

In [16]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='greater', method='asymptotic')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=46.500, p=0.070

In [21]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='greater', method='exact')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=46.500, p=0.080

p_val < 0.05 ~ no, failed to reject H_0
So, Male(height) <= Female(height)

Now, let's take another angle to solve the problem ==>

Now, we want to know the direction of the samples distribution
Male(height) < Female(height)
So,
Left-tailed:
    diff = Male - Female
    so,
    H_a: diff(height_distribution) < 0

Left Tailed:
Male~x, Female~y: diff(height_distribution) = x-y
H_0: Male(height) >= Female(height)
H_a: Male(height) < Female(height)
If p < 0.05 reject H_0

In [17]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='less', method='asymptotic')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=46.500, p=0.943

In [22]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='less', method='exact')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=46.500, p=0.948

p_val < 0.05 ~ no, failed to reject H_0
So, Male(height) >= Female(height)

'''
That means Male(height) == Female(height)
this is very strange, 
if I do paired test (Wilcoxon) then there are significant difference.
BUT,
if I do no-paired test (MannWhitneyU) then there are not significant difference.
'''

### let's take another example

### Data
We collected BMI of males and females.

In [23]:
data = np.array([[3,9],[4,7],[2,5],
                            [6,10],[2,6],[5,8]])

df = pd.DataFrame(data, columns = ['Male','Female'])
display(df)

   Male  Female
0     3       9
1     4       7
2     2       5
3     6      10
4     2       6
5     5       8

In [24]:
df.describe()

           Male     Female
count  6.000000   6.000000
mean   3.666667   7.500000
std    1.632993   1.870829
min    2.000000   5.000000
25%    2.250000   6.250000
50%    3.500000   7.500000
75%    4.750000   8.750000
max    6.000000  10.000000

### Business problem:
Is there any significant difference in BMI of males and females?

Two-tailed test:
H_0: there is no difference between 'Male' and 'Female'
H_a: there is significance difference between 'Male' and 'Female'

In [25]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='two-sided', method='asymptotic')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.000, p=0.013

In [26]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='two-sided', method='exact')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.000, p=0.009

## It always reports the statistic associated with the first sample, which, in this case, is males.
stat_Male := 2.0
## below way we can get stat of second sample (stat_Female)

In [27]:
stat_Male = stat
nx, ny = len(df['Male']), len(df['Female'])
stat_Female = nx*ny - stat_Male
print('Statistics=%.3f' % (stat_Female))

Statistics=34.000

p_val < 0.05 ~ yes, so reject H_0
there is significant difference between (Male - Female) distribution

Now, we want to know the direction of the samples distribution
Male(BMI) > Female(BMI)
So,
Right-tailed:
    diff = Male - Female
    so,
    H_a: diff(BMI_distribution) > 0

Right Tailed:
Male~x, Female~y: diff(BMI_distribution) = x-y
H_0: Male(BMI) <= Female(BMI)
H_a: Male(BMI) > Female(BMI)
If p < 0.05 reject H_0

In [28]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='greater', method='asymptotic')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.000, p=0.996

In [29]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='greater', method='exact')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.000, p=0.998

p_val < 0.05 ~ no, failed to reject H_0
So, Male(BMI) <= Female(BMI)

Now, let's take another angle to solve the problem ==>

In [ ]:
Now, we want to know the direction of the samples distribution
Male(BMI) < Female(BMI)
So,
Left-tailed:
    diff = Male - Female
    so,
    H_a: diff(BMI_distribution) < 0

Left Tailed:
Male~x, Female~y: diff(BMI_distribution) = x-y
H_0: Male(BMI) >= Female(BMI)
H_a: Male(BMI) < Female(BMI)
If p < 0.05 reject H_0

In [30]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='less', method='asymptotic')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.000, p=0.006

In [31]:
stat, p = stats.mannwhitneyu(df['Male'], df['Female'], alternative='less', method='exact')
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.000, p=0.004

p_val < 0.05 ~ yes, reject H_0
So, Male(BMI) < Female(BMI)

### Resources
1) https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.mannwhitneyu.html <br>