1) non-parametric ~ do not know the distribution (normal/gaussian)
2) un paired samples (can change the order of values)
3) applicable for more than two samples

The main objective of this test is used to determine whether there is a statistical difference 
between the medians of at least three (>2) ~ 
(non parametric) repeated measure one way anova.

In [1]:
from scipy import stats
import numpy as np
import pandas as pd

### Data
We collected reaction times of users at three different time of the day (Morning(Gp-1),Afternoon(Gp-2),Night(Gp-3)).
        Gp-1 Gp-2 Gp-3
user-1  
user-2
user-3

In [2]:
data = np.array([[8.2,10.2,13.5],[10.3,9.1,8.4],[9.1,13.9,9.6],
                            [12.6,14.5,13.8],[11.4,9.1,17.4],[13.2,16.4,15.3]])

df = pd.DataFrame(data, columns = ['Gp-1','Gp-2','Gp-3'])
display(df)

   Gp-1  Gp-2  Gp-3
0   8.2  10.2  13.5
1  10.3   9.1   8.4
2   9.1  13.9   9.6
3  12.6  14.5  13.8
4  11.4   9.1  17.4
5  13.2  16.4  15.3

In [3]:
df.describe()

            Gp-1       Gp-2       Gp-3
count   6.000000   6.000000   6.000000
mean   10.800000  12.200000  13.000000
std     1.962651   3.131773   3.413503
min     8.200000   9.100000   8.400000
25%     9.400000   9.375000  10.575000
50%    10.850000  12.050000  13.650000
75%    12.300000  14.350000  14.925000
max    13.200000  16.400000  17.400000

### Business problem:
Is there any significant difference in reaction times between the groups?

Two-tailed test:
H_0: there is no difference between groups
H_a: there is significance difference between groups
If p < 0.05 reject H_0

In [4]:
stat, p = stats.friedmanchisquare(df['Gp-1'], df['Gp-2'], df['Gp-3'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=2.333, p=0.311

p < 0.05 ~ no, we can not reject H_0
there is no difference between groups

### Resources
1) https://machinelearningmastery.com/nonparametric-statistical-significance-tests-in-python/ <br>
2) https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.friedmanchisquare.html <br>
3) https://www.statology.org/friedman-test-python/ <br>