1) parametric ~ knows the distribution (normal/gaussian)
2) applicable for one samples
3) The mean and standard deviation of the population is known

In [25]:
import statsmodels.stats.weightstats as statsM
from scipy import stats
import numpy as np
import pandas as pd

### Data
-- Suppose the IQ in a certain population is normally distributed 
with a mean of μ = 100 and standard deviation of σ = 15.

-- A researcher wants to know if a new drug affects IQ levels, so he 
recruits 20 patients to try it and records their IQ levels.

-- A researcher wants to know if a new drug affects IQ levels, so he 
recruits 20 patients to try it and records their IQ levels.

In [26]:
data = [139, 158, 153, 146, 140, 147, 155, 151, 147, 157,
        161, 161, 136, 161, 146, 158, 140, 135, 151, 161]

df = pd.DataFrame(data, columns = ['IQ'])
display(df)

     IQ
0   139
1   158
2   153
3   146
4   140
5   147
6   155
7   151
8   147
9   157
10  161
11  161
12  136
13  161
14  146
15  158
16  140
17  135
18  151
19  161

In [27]:
df.describe()

               IQ
count   20.000000
mean   150.150000
std      8.851256
min    135.000000
25%    144.500000
50%    151.000000
75%    158.000000
max    161.000000

In [28]:
# shapiro test for normality
# H_0: normally distributed
# H_a: not normally distributed
stat, p_val = stats.shapiro(df['IQ'])
if p_val<0.05:
    print(f'{p_val} ~ not normally distributed')
else:
    print(f'{p_val} ~ normally distributed')

0.08359934389591217 ~ normally distributed

### Business problem:
Is there any effect of drug on IQ lvl?

Two-tailed test:
H_0: After drug, the μ = 100
H_a: After drug, the μ != 100

In [29]:
z_score, p_val = statsM.ztest(df['IQ'], x2=None, value=100, alternative="two-sided")
print(p_val)

1.2030510719058064e-141

p_val < 0.05 ~ yes, so reject H_0
so, After drug, the μ != 100 In other words, the new drug does have significantly affect IQ level.

Now, we want to know the direction of the effect (drug)
μ > 100
So,
Right-tailed:
    H_a: μ > 100

In [30]:
z_score, p_val = statsM.ztest(df['IQ'], x2=None, value=100, alternative="larger")
print(p_val)

6.015255359529032e-142

p_val < 0.05 ~ yes, so reject H_0
so μ > 100

Now, let's take another angle to solve the problem ==>

Now, we want to know the direction of the effect (drug)
μ < 100
So,
Left-tailed:
    H_a: μ < 100

In [31]:
z_score, p_val = statsM.ztest(df['IQ'], x2=None, value=100, alternative="smaller")
print(p_val)

1.0

p_val < 0.05 ~ no, so failed to reject H_0
so μ >= 100

### Resources
1) https://sixsigmastudyguide.com/one-sample-z-hypothesis-test/ <br>
2) https://www.educba.com/python-z-test/ <br>
3) https://www.statology.org/one-sample-z-test/ <br>
4) https://www.cuemath.com/data/z-test/ <br>