# How many ways can six indistinguishable letters be put into three mailboxes?

___
### First, we'll start with a simulation

In [5]:
import pandas as pd

In [12]:
df = pd.DataFrame(columns = ['M1','M2','M3'])

i = 0
for mailbox1 in range(7):
    for mailbox2 in range(7-mailbox1):
        for mailbox3 in [6-mailbox1-mailbox2]:
            df.loc[i] = [mailbox1, mailbox2, mailbox3]
            i+=1

In [13]:
df

    M1  M2  M3
0    0   0   6
1    0   1   5
2    0   2   4
3    0   3   3
4    0   4   2
5    0   5   1
6    0   6   0
7    1   0   5
8    1   1   4
9    1   2   3
10   1   3   2
11   1   4   1
12   1   5   0
13   2   0   4
14   2   1   3
15   2   2   2
16   2   3   1
17   2   4   0
18   3   0   3
19   3   1   2
20   3   2   1
21   3   3   0
22   4   0   2
23   4   1   1
24   4   2   0
25   5   0   1
26   5   1   0
27   6   0   0

In [14]:
len(df)

28

## So there are 28 ways it can be done

# But why?

## We have 6 letters and 3 boxes to put them in, so we can think of it as having 6 letters and 2 walls

![](images/22-1.png)

## The green bars represent where each wall can be assigned

# Now, instead of thinking of the letters and walls as above, we can simply think of them as items in a list: [L1, L2, W1, L3, L4, W2, L5, L6]

# So, if we think of these as unique colors, how many distinct patterns could we create?

# The answer is 8!

# BUT THESE AREN'T UNIQUE COLORS! Since the letters are indistinguishable, and the wall ordering doesn't matter, this is more like asking how many distinct patterns can be create with [L,L,W,L,L,W,L,L]?

# For every configuration of letters, we can assign the letters 6! ways, and the walls 2! ways

# So, the total number of possible combinations is $\frac{8!}{2!6!} = \frac{8!}{2!(8-2)!} = \binom{8}{2}$