1) non-parametric ~ do not know the distribution (normal/gaussian)
2) un paired samples (can change the order of values)
3) applicable for more than two samples

The main objective of this test is used to determine whether there is a statistical difference between the medians of at least three (>2) independent groups.

In [1]:
from scipy import stats
import numpy as np
import pandas as pd

### Data
We collected reaction times of three groups (Gp-1,Gp-2,Gp-3).

In [2]:
data = np.array([[8.2,10.2,13.5],[10.3,9.1,8.4],[9.1,13.9,9.6],
                            [12.6,14.5,13.8],[11.4,9.1,17.4],[13.2,16.4,15.3]])

df = pd.DataFrame(data, columns = ['Gp-1','Gp-2','Gp-3'])
display(df)

   Gp-1  Gp-2  Gp-3
0   8.2  10.2  13.5
1  10.3   9.1   8.4
2   9.1  13.9   9.6
3  12.6  14.5  13.8
4  11.4   9.1  17.4
5  13.2  16.4  15.3

In [3]:
df.describe()

            Gp-1       Gp-2       Gp-3
count   6.000000   6.000000   6.000000
mean   10.800000  12.200000  13.000000
std     1.962651   3.131773   3.413503
min     8.200000   9.100000   8.400000
25%     9.400000   9.375000  10.575000
50%    10.850000  12.050000  13.650000
75%    12.300000  14.350000  14.925000
max    13.200000  16.400000  17.400000

### Business problem:
Is there any significant difference in reaction times between the groups?

Two-tailed test:
H_0: there is no difference between groups
H_a: there is significance difference between groups
If p < 0.05 reject H_0

In [4]:
stat, p = stats.kruskal(df['Gp-1'], df['Gp-2'], df['Gp-3'])
print('Statistics=%.3f, p=%.3f' % (stat, p))

Statistics=1.832, p=0.400

p < 0.05 ~ no, we can not reject H_0
there is no difference between groups

### As we have more than 2 samples, we do not have two-sided, less or greater here

### now if you want to know which gp is different,
# do two sample t test among all pairs of groups

### In our example, there is no difference between groups
so all the combination will give significance:- False

In [10]:
gp = ['Gp-1', 'Gp-2', 'Gp-3']
gp_pairs = []
for gp_1 in range(2):
    for rgp_2 in range(gp_1+1, 3):
        gp_pairs.append((gp[gp_1], gp[rgp_2]))

for gp_1, gp_2 in gp_pairs:
    print(gp_1, gp_2)
    stat, p_val = stats.ttest_ind(df[gp_1],df[gp_2])
    print(f"stat:- {stat} p_val:- {p_val} significance:- {p_val<0.05}")

Gp-1 Gp-2
stat:- -0.9278511517926075 p_val:- 0.37533718650920755 significance:- False
Gp-1 Gp-3
stat:- -1.3685996549319595 p_val:- 0.20108239118770738 significance:- False
Gp-2 Gp-3
stat:- -0.42301011601131266 p_val:- 0.6812405788415621 significance:- False

### Resources
1) https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kruskal.html <br>
2) https://www.youtube.com/watch?v=q1D4Di1KWLc <br>
3) https://www.youtube.com/watch?v=l86wEhUzkY4 <br>